# API
PROJECT_NAME=API
app_url=http://localhost:8000

# ELASTICSEARCH
ELASTIC_HOST=localhost
ELASTIC_PORT=9200
ELASTIC_DSN=http://localhost:9200
ELASTIC_INDEXES=movies,genres,persons

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
